/*  grid opmaak */






.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(202, 21, 226);
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 10px solid rgba(53, 63, 212, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

